.navigation {
    background-color: #336671;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

div.container {
    display: inline-block;
}

div.container h1 {
    margin: 40px 0 0 -5%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #FE5F55;
}

.logo {
    /* width: 23%; */
    padding: 1%;
    text-align: center;
}

.rSmile {
    content: url(../images/rsmile.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
}

.rSmile:hover {
    content: url(../images/rcodesmile.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
}

.resumeButton {
    background-color: #739696;
    border: none;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 15px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.resumeButton:hover {
    background-color: #336671;
    border: none;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 15px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

.background-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 830px;
    background-color: #d1d1d1;
    filter: grayscale(100%);
}

.background-container:hover {
    display: flex;
    justify-content: center;
    width: auto;
    height: 830px;
    background-color: ;
    filter: grayscale(2%)
}

.navLink {
    text-decoration: none;
    width: 25%;
}

.heroImg {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.redImg {
    content: url(../images/redcastro.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    /* display: inline-block;
    filter: grayscale(75%) */
}

/* 
.redImg:hover {
    content: url(../images/redcastro.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    filter: brightness(95%);
} */

.navLink {
    text-decoration: none;
    width: 25%;
}


.foot {
    display: inline-block;
    margin-left: auto;
    color: #d1d1d1;
}

.mySkills {
    padding: 28px 0px 0px 30px;
    padding-top: 10px;
}


.flexContainer {
    display: flex;
    padding: 20px 20px;
    margin-bottom: 3%;
    /* justify-content: center; */
    /* outline: 2px dashed orange; */
}

#placeHolder {
    margin-top: 3%;
    width: 80%;
    height: 30%;
    outline: 1.5px dashed #739696;
}

.flexContainer div {
    width: 33%;
    padding-bottom: 2%;
    /* outline: 2px solid red; */
}

.flexContainer p {
    width: 90%;
    /* align-items: flex-start; */
    /* outline: 2px dashed orange; */
}

#panel {
    /* margin-top: 10%; */
    width: 100%;
    height: 90%;
    padding: 1%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    /* outline: 2px dashed red; */
}

#panel p {
    margin-top: 2%;
    width: 100%;

    /* outline: 3px dashed purple; */
} 

.imgResearch {
    width: 65%;
    height: auto;
       /* outline: 2px dashed red;  */
}

.imgAnimate {
    width: 65%;
    height: auto;
    position: relative;
}

.out {
    background-color: #739696;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    margin-right: 5px;
    cursor: pointer;
    /* margin-bottom: 50%; */
}

.out:hover {
    background-color: #336671;
    border: none;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    /* margin-bottom: 50%; */
}

.in {
    background-color: #739696;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    /* margin-bottom: 1%; */

}

.in:hover {
    background-color: #336671;
    border: none;
    color: whitesmoke;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    /* margin-bottom: 1%; */

}

.researchButton {
    /* margin: 2%; */
    width: 100%;
    background-color: #739696;
    border: none;
    color: white;
    /* padding: 13px 28px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.researchButton:hover {
    /* margin-top: 2%; */
    background-color: #336671;
    border: none;
    color: whitesmoke;
    /* padding: 12px 28px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

#flip {
    margin-top: 2%;
    text-align: center;
    padding: 12px 28px;
    width: 50%;
    /* background-color: whitesmoke; */
    /* border: solid 1px #739696; */
}



.animate {
    background-color: #739696;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.animate:hover {
    background-color: #336671;
    border: none;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}


.myWork {
    padding: 60px 30px;
    padding-top: 10px;
    background-color: #d1d1d1;
}

.navHover:hover {
    color: #FE5F55;
    text-decoration: underline;
    text-decoration-color: #d1d1d1;
}

#workGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 400px 445px 400px;
    grid-template-areas:
        "imgWork1 projectOne"
        "imgWork2 projectTwo"
        "imgWork3 projectThree";
    outline: 3px solid #336671;
    padding-bottom: 1%;

}

.maxfund {
    max-height: 95%;
}

#workGrid img {
    width: 100%;
    height: auto;
    max-width: 250px;
    /* margin: 0 auto; */
    margin: 10px auto 10px auto;
    display: block;
}

.imgWork1 {
    grid-area: imgWork1;
    margin: 0 1% 0 3%;
    outline: 2px dashed #739696;

}

.imgWork2 {
    grid-area: imgWork2;
    margin: 0 1% 0 3%;
    outline: 2px dashed #739696;
}

.imgWork3 {
    grid-area: imgWork3;
    margin: 0 1% 0 3%;
    outline: 2px dashed #739696;

}

.projectOne {
    grid-area: projectOne;
    margin: 2% 2% 0 1.5%;
    outline: 2px dashed #739696;
}

.projectTwo {
    grid-area: projectTwo;
    margin: 2% 2% 0 1.5%;
    outline: 2px dashed #739696;
}

.projectThree {
    grid-area: projectThree;
    margin: 2% 2% 0 1.5%;
    outline: 2px dashed #739696;
}

.imgWork1,
.imgWork2,
.imgWork3 {
    margin-top: 3%;
    /* padding: 10px; */
}

.projectOne,
.projectTwo,
.projectThree {
    /* margin-left: 20px; */
    padding-left: 5%;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 40%;
    margin-left: auto;
    color: #d1d1d1;
}

a {
    width: 40%;
    margin-left: auto;
    color: #d1d1d1;
    text-decoration: none;
}

a:hover {
    color: #FE5F55;
    text-decoration: underline;
    text-decoration-color: #d1d1d1;
}


li {
    display: inline-block;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.workButton {
    background-color: #739696;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.workButton:hover {
    background-color: #336671;
    border: none;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

img {
    border-radius: 1%;
}

h1 {
    margin-top: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #FE5F55;
    /* padding-left: 30px; */
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #FE5F55;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: black;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}


.formContainer {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #739696;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}

input[type=submit]:hover {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #336671;
    color: whitesmoke;
    margin-bottom: 30px;
}

.buttonHolder {
    text-align: center;
}

footer {
    background-color: #336671;
}

@media only screen and (max-width: 1000px) {
    .navigation {
        display: none;
    }

    .logo {
        margin-left: auto;
    }
}

@media only screen and (max-width: 600) {
    .flexContainer {
        display: block;
        padding: 20px 20px;
        /* justify-content: center; */
    }

    .flexContainer div {
        width: 100%;
        /* padding: 10px; */
    }

    #workGrid {
        display: grid;
        grid-template-rows: 400px 150px 445px 150px 400px 150px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imgWork1"
            "projectOne"
            "imgWork2"
            "projectTwo"
            "imgWork3"
            "projectThree"
        ;
    }
}